.main {
  padding: 40px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.description, .textGame {
  margin-top: 10px;
  font-weight: 700;
}

.list {
  list-style:decimal;
  margin-top: 10px;
}
.img {
  margin-top: 10px;
}